* {
  box-sizing: border-box;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  overflow: auto;
  padding: 10px;
}

@media (max-width: 480px) {
  .app {
    padding: 12px;
  }
}
