:root {
  --primary-navy: #170c79;
  --secondary-teal: #56b6c6;
  --neutral-cream: #efe3ca;
  --dark-cream: #efd9ab;
  --muted-text: #6c7285;
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  font-family: Geneva, Verdana, sans-serif;
  color: var(--primary-navy);
  background-image: radial-gradient(var(--neutral-cream), hsl(41, 54%, 75%));
}

body {
  margin: 0;
  position: relative;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button,
input {
  font: inherit;
}
