:root {
  font-family: Geneva, Verdana, sans-serif;
  color: var(--primary-navy);
  background-image: radial-gradient(var(--neutral-cream), hsl(41, 54%, 75%));
  --primary-navy: #170C79;
  --secondary-teal: #56B6C6;
  --neutral-cream: #EFE3CA;
  --dark-cream: #efd9ab;
  --muted-text: #6c7285;
}

body {
  margin: 0;
  position: relative;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button,
input {
  font: inherit;
}
