.app-header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  margin: 0;
  background: var(--dark-cream);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 12px;
  border-bottom: 1px solid var(--neutral-cream);
}

.app-header h1 {
  margin: 0;
  font-size: 1.75rem;
  font-weight: 700;
}
