.leaderboard {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 95%;
  max-width: 1000px;
  gap: 16px;
}

.leaderboard__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.leaderboard__list .right-data {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.leaderboard__list .left-data {
  display: flex;
  gap: 25%;
  width: 30%;
}

.leaderboard__list li {
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  gap: 10px;
}

.leaderboard__list .table__header {
  font-size: 1rem;
}

.leaderboard__list .--first {
  background-color: var(--secondary-teal);
}

.leaderboard__list .--second {
  background-color: #c0c0c0;
}

.leaderboard__list .--third {
  background-color: #cd7f32;
}

.leaderboard__list .leaderboard__rank {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  min-width: 24px;
  border-radius: 999px;
}

.leaderboard .leaderboard__row:nth-child(even) {
  background: var(--dark-cream);
}

.leaderboard__row {
  font-weight: 650;
  animation: slideInUp 0.5s ease-out forwards;
}

.leaderboard_row:nth-child(n) {
  animation-delay: calc(0.1s * (var(--index, 0)));
}

.leaderboard__header h3 {
  margin: 0;
  font-size: 1.4rem;
}

.leaderboard__footer {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.new-game {
  border: 1px solid #b6b7bc;
  background: var(--primary-navy);
  color: white;
  border-radius: 16px;
  padding: 10px 14px;
  cursor: pointer;
}

.exit-lobby {
  border: 1px solid #b6b7bc;
  background: var(--secondary-teal);
  color: white;
  border-radius: 16px;
  padding: 10px 14px;
  cursor: pointer;
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 480px) {
  .leaderboard__list .table__header,
  .exit-lobby,
  .new-game {
    font-size: 0.8rem;
  }

  .leaderboard__list li {
    font-size: 1rem;
  }

  .leaderboard__header h3 {
    font-size: 1.2rem;
  }

  .leaderboard__list .right-data {
    width: 40%;
  }

  .leaderboard__score {
    grid-column: 2;
  }
}

@media (max-width: 380px) {
  .leaderboard__list .leaderboard__rank {
    height: 20px;
    min-width: 20px;
  }
}
